<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" id="footer" class="footer">
    <div class="copyright">
        &copy; Bản quyền thuộc về <strong><span>NNL Hospital</span></strong>. Đã đăng ký bản quyền.
    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <script th:src="@{/assets-admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets-admin/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/assets-admin/js/main.js}"></script>
</footer>

</body>
</html>
